body {
    background-color: darkgreen;
}

p {
    color: yellow;
}

#segundo {
    background-color: tomato;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 50px;
}

.diferente {
    background-color: rgb(83, 71, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 26px;    
    font-weight: bold;
}
