/* imports de fonts */
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: titi;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: titi-2;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classes genericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */

}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuario {
    right: 0 !important;
}

body {
    color: white;
}


/* Mobile first */

/* HEADER */

header {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 60vh;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
}

header .header-top {
    display: none;
}

header nav {
    display: none;
}

header .menu-usuarios {
    display: flex;
    position: fixed;
    width: 15vw;
    height: 20vh;
    top: 60px;
    right: -66px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(45px);
    transition: 0.5s;
}

header .alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 86px;
}


header .header-bottom {
    height: 60px;
}

header nav {
    z-index: 101;
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding-bottom: 20px; */
    justify-self: flex-end;
    transition: 0.5s;
}

header .header-bottom nav>a {
    padding: 25px 0;
    font-size: 15px;
    font-family: "inter";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
    border-bottom: solid 2px #F9AA01;
}

header nav a:first-of-type {
    color: #F9AA01;
}

header nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    /* margin-top: 40px; */

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

main {
    margin-top: 60px;
    width: 100%;
    height: 1231px;
    background-size: cover;
    background-image: url(../assets/images/Banner_cadastro_de_Equipe.png);
}

main p{
    font-size: 10px;
    font-family: "titi-re";
}

main h1 {
    font-family: "titi";
    font-size: 28px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main hr {
    width: 250px;
    border: 2px solid #F9AA01;
}

main form {
    /* efeito da borda e do fundo glass */
    border: 2px solid transparent;
    border-radius: 8px;
    background: /* fundo */ linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .039)) padding-box, /* fundo borda */ linear-gradient(90deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);
    height: 492px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

main .botao{
    display: flex;
    flex-direction: row;
    width: 273px;
    align-items: center;
    gap: 10px;
}

input[type="file"]{
    /* height: 40px;
    border-radius: 8px;
    color: #1B1426;
    font-family: "titi-2";
    font-size: 13px;
    width: 112px;
    background-color: #D9D9D9; */
    /* outline: none; */
    display: none;
}

label {
        height: 40px;
    border-radius: 8px;
    color: #1B1426;
    font-family: "titi-2";
    font-size: 13px;
    width: 112px;
    background-color: #D9D9D9;
}

main div.cadastro {
    display: flex;
    width: 335px;
    height: 492px;
    color: white;
    /* backdrop-filter: blur(10px); */
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 35px;
    gap: 30px;
    /* background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6)); */


    border: 2px solid transparent;

    /* background: linear-gradient(to right bottom , rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) content-box, */
    /* linear-gradient(to right bottom , rgba(239, 239, 239, 0.6),rgba(239, 239, 239, 0.10)) border-box; */


    /* border-image-slice: 1; */

}

main .form-dificil{
    padding-top: 70px;
}

main .Login-e input {
    width: 273px;
    height: 40px;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-family: "titi-re";
    font-size: 16px;
    border: none;
    letter-spacing: 1px solid;
    outline: none;
}

main .Login-e ::placeholder {
    color: white;
}

main .entrar {
    width: 273px;
    height: 40px;
    background-color: #F9AA01;
    font-family: "titi-2";
    font-size: 24px;
    color: #1B1426;
    border-radius: 5px;
    border: none;
}


main .nome {
    padding-left: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 273px;
    height: 40px;
    background-image: linear-gradient(to right, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.10));

    letter-spacing: 2px;
    background-color: transparent;
    /* padding: 2px; */

    /* efeito da borda e do fundo glass */
    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);





}

main .id-e {
    padding-left: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 273px;
    height: 40px;
    background-image: linear-gradient(to right, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.10));
    /* efeito da borda e do fundo glass */
    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);


}

main .titulo{
    padding-top: 30px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 52px;
    flex-direction: column;
    }











    /* *******footer******* */

footer{
    padding-top: 110px;
    background-image: url(../assets/images/backgroung_footer.png);
    width: 100%;
    height: 1529px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 60px 25px black;
    background-color: #C6A5E5;
}

footer .fraselogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

footer .fraselogo p {
    font-size: 14px;
    font-family: "quick";
}

footer .frase-logo img {
    width: 110px;
    height: 32px;
}

footer .redesfooter {
    display: flex;
    align-items: center;
    gap: 100px;
}

footer .linksuteis {
    margin-top: 70px;
    font-size: 15px;
    font-family: "titi";
}

footer .linksuteis hr {
    border: #F9AA01 2px solid;
    width: 112px;
}

footer .contatos {
    margin-top: 50px;
}
footer .contatos p {
    font-size: 16px;
    font-family: "titi-2";
} 

footer .contatos h1 {
    font-family: "titi-2";
    font-size: 16px;
    color: #F9AA01;
}

footer .contatos h2 {
    font-size: 30px;
    font-family: "titi";
}

footer .contatos hr {
    border: #F9AA01 2px solid;
    width: 112px;
}

footer .titulocontatos {
    padding-bottom: 50px;
}

footer .linksuteis {
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .link {
    margin-left: 9px;
    display: flex;
    gap: 25px;  
    flex-wrap: wrap;
}

footer .link a {
    text-decoration: none;
    font-size: 16px;
    font-family: "titi-2";
    color: white;
}

footer .link hr {
    margin-top: 30px;
    border: #F9AA01 2px solid;
    width: 14px;
}

footer .inicio {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .jogadores {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .noticias {
    padding-right: 10px;
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .login {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .equipes {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .titulolinks {
    margin-bottom: 30px;
}

footer .titulonews {
    padding-bottom: 40px;
}

footer .newsletter {
    padding-top: 90px;
}

footer .titulonews h2 {
    
    font-size: 30px;
    font-family: "titi";

}

footer .titulonews hr {
    border: #F9AA01 2px solid;
    width: 112px;
}

footer .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    /* margin-left: 30px; */
    gap: 10px;
    /* background-color: transparent; */
    border: 1px solid transparent;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    width: 333px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

footer .email input {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "titi-re";
}

footer .email input::placeholder {
    color: white;
}

footer .newsletter a {
    font-size: 24px;
    text-decoration: none;
    width: 333px;
    height: 40px;
    color: black;
    background-color: #F9AA01;
    font-family: "titi-2";
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    /* margin-left: 70px; */
}

footer .footfinal {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    margin-top: 100px;
}

footer .footfinal p {
   padding-right: 56px;
   font-size: 16px;
   font-family: "titi-re";
}