/* imports de fonts */
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: titi;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: titi-2;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* classes genericas */
.layout-grid{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */

}

.mostrar-menu{
    left: 0 !important;
}

.mostrar-usuario{
    right: 0 !important;
}

body{
    color: white;
}


/* Mobile first */

/* HEADER */

header{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 60vh;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
}

header .header-top{
    display: none;
}
header nav{
    display: none;
}
header .menu-usuarios{
    display: flex;
    position: fixed;
    width: 15vw;
    height: 20vh;
    top: 60px ;
    right: -66px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7),rgba(27, 20, 38, 0.4));
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(45px);
    transition: 0.5s;
}

header .alinhamento-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 86px;
}


header .header-bottom{
    height: 60px;
}

header nav {
    z-index: 101;
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7),rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding-bottom: 20px; */
    justify-self: flex-end;
    transition: 0.5s;
}

header .header-bottom nav > a{
    padding: 25px 0;
    font-size: 15px;
    font-family: inter;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
    border-bottom: solid 2px #F9AA01;
}
header nav a:first-of-type{
    color: #F9AA01;
}
header nav a:last-of-type{
    border-bottom: none;
}

header .header-bottom nav .midias-sociais{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    /* margin-top: 40px; */

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

main {
    margin-top: 60px;
 } 

main .banner-inicio {
    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 1.png);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 606px;
    /* justify-content: space-around; 
    align-items: center;
    flex-direction: column;*/
    /* padding-top: 60px; */
    
}

main .banner-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* color: #F9AA01; */
}

main .link-main{
    border-radius: 8px;
    color: #1B1426;
    font-family: "titi-2";
    font-size: 24px;
    text-decoration: none;
    background-color: #F9AA01;
    height: 40px;
    width: 171px;    
    margin-bottom: 75px;    
    text-align: center;
}

main h2{
    font-size: 40px;
    font-family: "titi";
    color: white;
    text-shadow: 0 0 7px #fd4255;

}

main .jogos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 590px;
    background-color: #1B1426;

}

main .jogos-populares{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .premium{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #F9AA01;
    height: 1565px;
}

main .premium h1{
    font-size: 18px;
    font-family: "titi";
    color: #1B1426;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main .noticias{
    height: 3675px;
    background-image: url(../assets/images/backgrund_notícias.png);
}

main .card-estadio{
    width: 335px;
    height: 387px;
}


/* tablets */
@media screen and (min-width: 768px){}

/* desktop */
@media screen and (min-width: 1200px) {

/* esconde os elementos desnecessarios */

header {
    width: 100%;
    position: static;
    height: 140px;
}

header .header-bottom img.logo {
    width: 200px;
}

header .header-top{
    display: block;
    height: 50px;
    border-bottom: 2px solid #F9AA01;
}

    header .header-top .midias-sociais{
        width: 140px;
        display: flex;
        justify-content: space-between;

    }

header .menu-hamburger,
header .menu-pontinhos,
header .header-bottom nav .phone,
header .header-bottom nav .email,
header .header-bottom nav .midias-sociais {
    display: none;
}


.layout-grid {
    width: 100%;
    max-width: 1200px;
    /* border: 3px dotted yellowgreen; */
}

header .header-top .contatos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    
}

header .header-top .contatos > a {
    width: 200px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "inter";
}





header .header-bottom{
    height: 90px;
}

header .header-bottom .menu-usuarios {
    position: static;
    flex-direction: row;
    width: 140px;
    height: auto;
    justify-content: space-between;
    background-color: transparent;
    background-image: none;
}

header .header-bottom nav {
    position: static;
    width: 440px;
    height: 50px;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    background-image: none;
    padding-bottom: 0px;
}

header .header-bottom nav a{
    border-bottom: none;
}






main {
    margin-top: 0;
}


main .banner-inicio{
    background-image: url(../assets/images/fundo.png);
    height: 722px;
    background-repeat: no-repeat;
    background-size: cover;

}

main h2{
    font-size: 80px;
}

main .jogos img{
    width: 556px;
    height: 313px;
}

main .jogos .jogos-populares{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

main .jogos{
    height: 500px;
}



}